image: deepview/rust:1.86.0

clone:
  depth: full

definitions:
  steps:
    - step: &version
        name: VERSION
        script:
          - |
            if [ -z "$BITBUCKET_TAG" ] ; then
              export VERSION=0.0.0-dev${BITBUCKET_BUILD_NUMBER}
            else
              export VERSION=${BITBUCKET_TAG}
            fi
          - sed -i "s/0.0.0/$VERSION/g" Cargo.toml
          - echo $VERSION
        artifacts:
          - Cargo.toml
    - step: &analyze
        name: Analyze
        size: 2x
        script:
          - export CARGO_NET_GIT_FETCH_WITH_CLI=true
          - cargo clippy --message-format=json > clippy.json || true
          - cargo audit --json > audit.json || true
          - cargo outdated --depth 1 --format json > outdated.json || true
          - cargo sonar --clippy --outdated --audit
        artifacts:
          - sonar-issues.json
    - step: &build-linux-amd64
        name: Build Linux AMD64
        size: 2x
        script:
          - export CARGO_NET_GIT_FETCH_WITH_CLI=true
          - cargo build --release
        artifacts:
          - target/release/maivin-websrv
    - step: &build-linux-arm64
        name: Build Linux ARM64
        size: 2x
        script:
          - export CARGO_NET_GIT_FETCH_WITH_CLI=true
          - cargo build --target=aarch64-unknown-linux-gnu --release
        artifacts:
          - target/aarch64-unknown-linux-gnu/release/maivin-websrv
    - step: &sonar
        name: Code Sonar
        image: sonarsource/sonar-scanner-cli:11.3
        runs-on:
          - 'self.hosted'
        script:
          - sonar-scanner
pipelines:
  default:
    - step: *version
    - parallel:
        - step: *analyze
        - step: *build-linux-amd64
        - step: *build-linux-arm64
    - step: *sonar
  pull-requests:
    '**':
      - step: *version
      - parallel:
          - step: *analyze
          - step: *build-linux-amd64
          - step: *build-linux-arm64
      - step: *sonar
      - step:
          name: Deploy
          deployment: Test
          script:
            - echo "Deploy Pull-Request"
  tags:
    '*.*.*':
      - step: *version
      - parallel:
        - step: *build-linux-amd64        
        - step: *build-linux-arm64
      - step:
          name: Deploy to Production
          deployment: Production
          script:
            - cp target/release/maivin-websrv maivin-websrv-$BITBUCKET_TAG-linux-amd64
            - cp target/aarch64-unknown-linux-gnu/release/maivin-websrv maivin-websrv-$BITBUCKET_TAG-linux-arm64
            - pipe: atlassian/bitbucket-upload-file:0.7.4
              variables:
                BITBUCKET_USERNAME: au-zone-ci
                BITBUCKET_APP_PASSWORD: $BITBUCKET_PASSWORD
                FILENAME: "maivin-websrv-$BITBUCKET_TAG-*"
            - pipe: atlassian/aws-s3-deploy:2.0.1
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
                AWS_DEFAULT_REGION: 'us-west-2'
                S3_BUCKET: "maivin/services/maivin-websrv"
                LOCAL_PATH: "."
                EXTRA_ARGS: "--exclude=* --include=maivin-websrv-${BITBUCKET_TAG}-*"
